<form action="@Url.Action("Autentica")" method="post">

    <label for="nome">Login: </label>
    <input id="nome" name="nome" type="text" class="form-control" />

    <label for="senha">Senha: </label>
    <input id="senha" name="senha" type="password" class="form-control" />

    <input type="submit" value="Autenticar" />
</form>